body {

    font-family: $font-stack;
    background-color: $light-color;
    color: $dark-color;
    margin: 0;
    padding:0;
    display:flex;
    flex-direction: column;
    align-items:center;
    min-height: 100vh;
}